@{
    ViewBag.Title = "Unauthorized";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>You are not authorized to view this page.</h1>
    <br />
    <div>Access to this application is restricted.</div>
</body>
</html>
